/* drawer category listing */

/* #category_menu  ul + li{
list-style-type: disc;
font-weight: 600;
list-style: none;
}

#category_menu  ul li + ul + li + ul li{
list-style-type: disc;
font-weight: 600;
list-style: none;
border:1px solid red;
}
#category_menu  ul li + ul + li{
    border:1px solid green;
} */

#category_menu{
    background: #fff;
}
#category_menu a{
    color:rgb(29, 28, 28);
}

/* ---------------------------------------- */
#category_menu > ul > li{
    list-style: none;
    padding:5px;
    font-weight:700;
    font-size: 18px;
    color:#000;
    line-height: 20px;
}

/* ----------------------------------------- */
#category_menu > ul > li + ul > li{
    list-style: none;
    padding:5px 0;
    font-weight:600;
    font-size: 16px;
    color:#000;
}

/* ----------------------------------------- */
#category_menu > ul > li + ul > li + ul > li{
    list-style: none;
    padding:5px 0;
    font-weight:500;
    font-size: 14px;
    color:#000;
}
/* ----------------------------------------- */
