
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    width:230px;
  }
  .swiper-button-prev, .swiper-button-next{
    color: #ccc;
    transition: 0.3s;
    background:#f0f0f0f0;
    padding: 19px;
  }
  .swiper-button-prev::after, .swiper-button-next::after{
    font-size: 26px;
  }
  .swiper-button-prev:hover, .swiper-button-next:hover{
    color: #000;
    transition: ease-in-out;
    background:#fff;
    border:1px solid #f0f0f0f0;
  }

  @media only screen and (max-width: 600px){
    .swiper-button-prev, .swiper-button-next{
        display: none;
        font-size: 26px;
    }
  }


  .cardbox{
    min-width:230px;
    max-width: 230px;
    color: #000;
    background-color: white;
    padding: 0px;
    box-shadow: rgba(99, 99, 99, 0.2)0px 2px 8px 0px
}
  