
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
*{
    outline:0;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Helvetica", Sans-Serif; */
    margin: 0px;
    padding: 0px;
    background: rgb(246 246 247) !important;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
  }
  
  h1, h2, h3, h4,p,label,span,Button,button,NavLink,small,a{
    font-family: 'Noto Sans', sans-serif;
  }
  .roboto-light{
  font-family: 'Roboto Flex', sans-serif !important;
  }
  
  span{word-spacing: 0px !important;}

  img{
    max-width: 100%;
    height: 100%;
    }

  a{
    text-decoration: none !important;
  }
small{
    font-size: small !important;
}

._shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
._rounded{
    border-radius:20px;
}

._text-success{
    color:#00a100;
}
._text-primary{
    color:midnightblue;
}
._text-danger{
    color:#c70909;
}
._text-dark{
    color:#1c1d1d;
}
._text-info{
  color:#23CCF1;  
}
._text-light{
    color:#f0f0f0f0;
}
._text-muted{
    color:rgb(0 0 0 / 50%)
}
._text-light{
    color:#acacad;
}

._bg-success{
    background-color: #03B023;
}
._bg-primary{
    background-color:midnightblue ;
}
._bg-danger{
    background-color: #c70909;
    }
._bg-dark{
    background-color:#1c1d1d ;
}
._bg-info{
 background-color:#23CCF1 #007aff ;   
}
._bg-light{
    background-color: #f0f0f0f0;
}

._bg-light-success{
    background-color: #ebf8eb;
}
._bg-light-primary{
    background-color:rgb(49, 49, 119) ;
}
._bg-light-danger{
    background-color: #c56f6f;
    }
._bg-light-dark{
    background-color:#4e4e4e ;
}
._bg-light-info{
 background-color:#84e2f7 ;   
}

._btn{
    border-radius:4px;
    background:#fff;
    padding: 10px 5px 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
._btn-rounded{
    border-radius: 25px !important;
}    
._btn:hover{
    box-shadow: rgba(247, 231, 140, 0.678) 0px 2px 8px 0px;
    transition: 0.3s;
    outline: rgba(247, 231, 140, 0.678) 0px 2px 8px 0px;
}

._btn-success{
    color: #fff;
    background-color: #03B023;
}
._btn-success:hover{
    background-color: #03b023b9;
}
._btn-primary{
    color: #fff;
    background-color: midnightblue;
}
._btn-primary:hover{
    /* background-color: rgb(49, 49, 119); */
    background: #f8aa09; 
}
._btn-danger{
    color: #fff;
    background-color: #c70909;
}
._btn-danger:hover{
    color:#fff;
    background-color: #c70909bb;
}
._btn-dark{
    color: #fff;
    background-color: #1c1d1d;
}
._btn-dark:hover{
    background-color: #1c1d1dbd;
}
._btn-info{
    color: #fff;
    background-color: #23CCF1;
}
._btn-info:hover{
    color:#fff;
    background-color: #23cbf1b6;
}

._btn-light{
    color: #000;
    background-color: #f0f0f0f0;
}
._btn-warning{
    color: #fff;
    background-color: #f8aa09;
}

.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}
._form-control{
    border: 1px solid rgb(0 0 0 / 18%);
    padding: 9px 0 9px 12px;
    margin: 0;
    font-size: 14px;
    color: #000;
    border-radius: 4px;
    width:100%;
    font-weight: 600;
}

._form-control:focus{
    outline: none !important;
    box-shadow: none !important;  
}
._form-control::placeholder{
color:#ccc;
font-size: 14px;
font-weight: normal;
}
._form-control::-moz-placeholder{
    color:#ccc;
    font-size: 14px;
    font-weight: normal;
}
._form-control::-webkit-input-placeholder{
    color:#ccc;
    font-size: 14px;
    font-weight: normal;
}


  /* width */
  body::-webkit-scrollbar {   
    width: 10px;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  ::-webkit-scrollbar {   
    width: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  

  .input-icons span {
    position: absolute;
}
  
/*add icon in input*/
.input-icons {
    position: relative;
    width: 100%;
}
  
.input-icons .icon {
    padding: 10px 5px 9px 8px;
    min-width: 40px;
    font-size: 14px;
    font-weight: 600;  
}
  
.input-icons input {
    padding-left: 40px!important;
}

.css-fqe407-MuiBadge-badge{
    background-color:#f8aa09 !important ;
}

.text_wrap{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

